@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    overflow: hidden;
    width: 100%;
}
body {
    height:100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    margin:0;
    font-size: 2em;
}

p {
    text-align: center;
}

.Grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;

    &-item {
        width: 50%;
        margin-top: 2%;

        @media (min-width: 23rem) {
            width: 49%;

            &:nth-child(odd) {
                margin-right: 2%;
            }
        }

        &:before {
            content: "";
            float: left;
            padding-top: 100%;
        }

        &-image{
            height: 50%;
            width:50%;
            margin-top:25%;
            margin-left:25%;
        }
    }

}

.linkedIn {
    background-color: #0077B5 !important;
}

.mail {
    background-color: #0088B5 !important;
}

.banner {
    min-height: 200px;
    background-image:url('images/banner.png');
}

.profile {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-bottom: 30px;

    &-picture {
        height: 300px;
        width: 300px;
        background-size: 300px;
        background-image:url('images/profile.png');
        border-radius: 50%;
        border: solid 3px #FFF;
        margin-top: -60px;
    }

    &-name {
        margin-top: 30px;
        font-weight: bold;
    }

    &-title {
        margin-top: 5px;
    }
    
}

.address {
    margin-top: 30px;
    display:flex;
    justify-content: center;
    margin-bottom: 30px;

    &-map{
        //height:150px;
    }
}

/* Solid border */
hr.solid {
    border-top: 1px solid #bbb;
    margin-left: 25%;
    margin-right: 25%;
  }